# ignore node_modules
code/dockers/proyecto_1/node_modules
code/dockers/proyecto_1/package-lock.json
code/nodejs/proyecto_0/node_modules
code/nodejs/proyecto_0/package-lock.json
code/nodejs/proyecto_1/node_modules
code/nodejs/proyecto_1/package-lock.json
code/nodejs/proyecto_2/node_modules
code/nodejs/proyecto_2/package-lock.json
# ignore temporalmente
code/nodejs/proyecto_2
