body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 50px;
}
input, button {
  padding: 10px;
  margin: 5px;
}
button {
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}
